.box1{
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-around;
    
}
ul{
    list-style: none;
    gap: 30px;
    display: flex;
    font-size :small;
    text-align: left;
   
}



.box2{
    background-color: rgb(23, 23, 23);
    color: white;
    display: flex;
    justify-content: space-around;
    
}
ul{
    list-style: none;
    gap: 40px;
    display: flex;
    font-size :small;
}
button{
    width: 350px;
}